<div class="container">
  <ol class="breadcrumb">
    <li><a href="<%= admin_dashboard_path %>">Admin Dashboard</a></li>
    <li class="active">All Orders</li>
  </ol>
  <h3 class="text-center">All Orders</h3>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation">
          <a href="<%= admin_orders_path %>">All
            <span class="badge"><%= @orders.count %></span>
          </a>
        </li>
        <% @orders.statuses.keys.each do |key| %>
          <li>
            <a href="/admin/<%= key %>-orders">
              <%= key.capitalize %>
              <span class="badge"><%= @orders.send(key.to_sym).count %></span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div> <!-- /row -->
  <br>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Status</th>
          <th>Total</th>
          <th>Placed On</th>
          <th>Change Status To</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.send(@status).each do |order| %>
          <tr>
            <td>
              <a href="<%= admin_order_path(order) %>"> # <%= order.id %>
            </a>
            </td>
            <td class="order-status"><%= order.status.to_s.capitalize %></td>
            <td><%= number_to_currency(order.total) %></td>
            <td><%= order.created_at.strftime("%B %e, %Y at %l:%M %p") %></td>
            <td>
              <% order.available_status_transitions.each do |transition| %>
                <%= link_to transition.capitalize,
                            admin_order_path(id: order.id,
                                             status: transition),
                                             method: :patch %>

            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
