<div class="container">
  <h1 class="text-center">Order Details</h1>

  <div class="row">
    <h5 class="col-md-3"><strong>Order ID: </strong># <%= @order.id %></h5>
    <h5 class="col-md-4 col-md-offset-5"><strong>Purchase Date/Time: </strong>
      <%= @order.created_at.strftime("%B %e, %Y at %l:%M %p") %>
    </h5>
  </div> <!-- /row -->
  <br/>
  <h5><strong>User:</strong> <%= @order.user.full_name %></h5>
  <button onClick="call()">Make Call</button>

  <div class="row">
    <div class="col-md-6">
      <h5><strong>Billing Address</strong></h5>
      <% @order.user.addresses.billing.each do |address| %>
        <p>
          <%= address.address_1 %><br>
          <% if address.address_2 %>
            <%= address.address_2 %><br>
          <% end %>
          <%= address.city %>,
          <%= address.state %>
          <%= address.zip_code %>
        </p>
      <% end %>
    </div>
    <div class="col-md-6">
      <h5><strong>Shipping Address</strong></h5>
      <% @order.user.addresses.shipping.each do |address| %>
      <p>
        <%= address.address_1 %><br>
        <% if address.address_2 %>
          <%= address.address_2 %><br>
        <% end %>
        <%= address.city %>,
        <%= address.state %>
        <%= address.zip_code %>
      </p>
      <% end %>
    </div>
  </div><!-- /row -->

  <br><br>

  <div class="row">
    <div class="table-responsive">
      <%= render partial: "partials/single_order_table" %>
      <% if @order.status == "cancelled" || @order.status == "completed" %>
        <div class="other-notes well">
          <h5><strong>Other Notes:</strong></h5>
          <p>
            This order was <%= @order.status %>
            on <%= @order.updated_at.strftime("%B %e, %Y at %l:%M %p")%>.
          </p>
        </div>
      <% end %>
    </div> <!-- /.table -->
  </div> <!-- /.row -->
</div><!-- /.container -->

<script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>

<script>
// works on IE9 and above
document.addEventListener("DOMContentLoaded", function(event) {
    Twilio.Device.setup("<%= @token %>");
});

function call() {
    Twilio.Device.connect({id: 123});
}
</script>
