<div class="container">
  <h1 class="text-center">Edit Account</h3>
  <% if @billing && @shipping %>
    <div class="well col-sm-12">
      <div id="login-info" class="col-sm-4">
  <% elsif @billing || @shipping %>
    <div class="well col-sm-8 col-sm-offset-2">
      <div id="login-info" class="col-sm-6">
  <% else %>
    <div class="well col-sm-4 col-sm-offset-4">
      <div id="login-info" class="col-sm-12">
  <% end %>
      <fieldset>
        <legend>Login Info</legend>
        <%= form_for @user, url: account_path, method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :last_name, "Last Name" %>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "Password (min 8 characters)" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <%= f.submit "Update Login Info", class: "btn btn-success" %>
          <% unless @billing && @shipping %>
            <%= link_to "Add Address", new_address_path, class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </fieldset>
    </div>

    <% if @billing && @shipping %>
      <div id="billing-info" class="col-sm-4">
    <% elsif @billing %>
      <div id="billing-info" class="col-sm-6">
    <% end %>
    <% if @billing %>
      <%= form_for @billing, url: address_path(@billing), method: :patch do |b| %>
        <fieldset>
          <legend>Billing Address</legend>
          <div class="form-group">
            <%= b.label :address_1 %>
            <%= b.text_field :address_1, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= b.label :address_2 %>
            <%= b.text_field :address_2, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= b.label :city %>
            <%= b.text_field :city, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= b.label :state %>
            <%= b.text_field :state, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= b.label :zip_code %>
            <%= b.text_field :zip_code, class: "form-control" %>
          </div>
        <%= b.submit "Update Billing Address", class: "btn btn-success" %>
        </fieldset>
      <% end %>
    </div>
    <% end %>

    <% if @billing && @shipping %>
      <div id="shipping-info" class="col-sm-4">
    <% elsif @shipping %>
      <div id="shipping-info" class="col-sm-6">
    <% end %>
    <% if @shipping %>
      <%= form_for @shipping, url: address_path(@shipping), method: :patch do |s| %>
        <fieldset>
          <legend>Shipping Address</legend>
          <div class="form-group">
            <%= s.label :address_1 %>
            <%= s.text_field :address_1, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= s.label :address_2 %>
            <%= s.text_field :address_2, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= s.label :city %>
            <%= s.text_field :city, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= s.label :state %>
            <%= s.text_field :state, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= s.label :zip_code %>
            <%= s.text_field :zip_code, class: "form-control" %>
          </div>
        <%= s.submit "Update Shipping Address", class: "btn btn-success" %>
        </fieldset>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
