<div class="container">
  <h1 class="text-center">Order Details</h1>

  <div class="row">
    <h5 class="col-md-3"><strong>Order ID: </strong># <%= @order.id %></h5>
    <h5 class="col-md-4 col-md-offset-5"><strong>Purchase Date/Time: </strong>
      <%= @order.created_at.strftime("%B %e, %Y at %l:%M %p") %>
    </h5>
  </div>

  <br>

  <div class="row">
    <div class="col-md-6">
      <h5><strong>Billing Address</strong></h5>
      <% @order.user.addresses.billing.each do |address| %>
        <p>
          <%= address.address_1 %><br>
          <% if address.address_2 %>
            <%= address.address_2 %><br>
          <% end %>
          <%= address.city %>,
          <%= address.state %>
          <%= address.zip_code %>
        </p>
      <% end %>
    </div>
    <div class="col-md-6">
      <h5><strong>Shipping Address</strong></h5>
      <% @order.user.addresses.shipping.each do |address| %>
      <p>
        <%= address.address_1 %><br>
        <% if address.address_2 %>
          <%= address.address_2 %><br>
        <% end %>
        <%= address.city %>,
        <%= address.state %>
        <%= address.zip_code %>
      </p>
      <% end %>
    </div>
  </div><!-- /row -->

  <br><br>

<div class="table-responsive">
    <%= render partial: "partials/single_order_table" %>
    <% if @order.status == "cancelled" || @order.status == "completed" %>
      <div class="other-notes well">
        <h5><strong>Other Notes:</strong></h5>
        <p>
          This order was <%= @order.status %>
          on <%= @order.updated_at.strftime("%B %e, %Y at %l:%M %p")%>.
        </p>
      </div>
    <% end %>

  </div>
  <%= link_to "Continue Shopping", products_path,
              class: "btn btn-lg btn-primary pull-left" %>
  <%= link_to "Dashboard", dashboard_path,
              class: "btn btn-lg btn-success pull-right" %>
</div><!-- /.container -->


<% if @order.status == "ordered" %>
  <%= form_tag charges_path do %>
    <%= hidden_field_tag :order_id, @order.id %>
    <script src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Redrum Nursery"
            data-amount="<%= @order.total*100 %>">
    </script>
  <% end %>
<% end %>
