<div class="container">
  <h3 class="text-center">Admin Dashboard</h3>
  <p class="lead text-center">Add a New Product</p>
  <div class="well col-sm-6 col-sm-offset-3">
    <%= form_for @product, :url => admin_products_path,
      :html => {method: :post} do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_field :price, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :category %>
      <%= collection_select :product,
        :category_id,
        Category.all,
        :id,
        :name,
        {},
        { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.label :image_url, "Image Url" %>
      <%= f.text_field :image_url, class: "form-control" %>
    </div>
      <%= f.submit "Add Product", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
