<div class="container">
  <h1 class="text-center">Cart</h1>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= image_tag cart_item.image_url, class: "img-responsive col-md-12" %></td>
          <td class="name col-md-4">
            <%= cart_item.name %><br>
            <%= cart_item.description %>
          </td>
          <td class="item-total col-md-2">$<%= cart_item.price %></td>
          <td class="col-md-1 quantity"> <%= cart_item.quantity %></td>
          <td class="col-md-1">$<%= cart_item.item_total %></td>
          <td class="col-md-1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </td>
        </tr>
        <% end %>
        <tr>
          <td colspan=3></td>
          <th>Total</th>
          <th class="total">$<%= @cart.total_price %></th>
        </tr>
      </tbody>

    </table>

  </div>
  <%= button_tag "Continue Shopping", class: "btn btn-lg btn-primary" %> <%= button_tag "Checkout", class: "btn btn-lg btn-success pull-right" %>
</div><!-- /.container -->
