<div class="container">
  <h1 class="text-center">Cart</h1>

  <div class="table-responsive">
    <div class="table table-hover">
      <div class="row cart-header">
        <div class="col-sm-3 col-md-2">&nbsp;</div>
        <div class="col-sm-5 col-md-5 cart-header-title">Product</div>
        <div class="col-sm-1 col-md-1 cart-header-title">Price</div>
        <div class="col-sm-1 col-md-1 cart-header-title">Quantity</div>
        <div class="col-sm-1 col-md-1 cart-header-title">Total</div>
        <div class="col-sm-1 col-md-2">&nbsp;</div>
      </div>
      <% @cart_items.each do |cart_item| %>
      <div class="row" style="padding-top: 10px;">
        <%= form_for(cart_item, url: cart_item_path(cart_item)) do |f| %>
        <%= image_tag cart_item.image_url, class: "img-responsive col-sm-2 col-md-2" %>
        <div class="name col-sm-5 col-md-5">
          <%= cart_item.name %><br>
          <%= cart_item.description %>
          <span class="remove-product">
            <%= link_to "remove", cart_item_path(cart_item), method: :delete %>
          </span>
        </div>
        <div class="item-total col-sm-1 col-md-1">
          <%= number_to_currency(cart_item.price) %>
        </div>
        <%= f.text_field(:quantity, class: "col-sm-1 col-md-1 quantity") %>
        <div class="sub-total col-sm-1 col-md-1">
          <%= number_to_currency(cart_item.item_total) %>
        </div>
        <div class="col-sm-2 col-md-2">
          <%= f.submit "update", class: "btn btn-xs btn-success" %>
        </div>
        <% end %>
      </div> <!-- /row -->
      <% end %>
      <div class="row">
        <div class="col-sm-offset-9 col-md-offset-9 col-sm-1 col-md-1">Total</div>
        <div class="col-sm-1 col-md-1 total"><%= number_to_currency(cart.total_price) %></div>
      </div> <!-- /row -->
    </div> <!-- /table -->

  </div>

  <%= link_to "Continue Shopping", products_path, class: "btn btn-lg btn-primary pull-left" %>
  <%= button_to "Checkout", orders_path, class: "btn btn-lg btn-success pull-right" %>

</div><!-- /.container -->
