<div class="container">
  <div class="page-header featured">
  </div>

  <div class="row">

    <div class="thumbnail col-md-12">
      <%= image_tag @product.image_url, class: "img-responsive col-md-5", alt: "#{@product.name} image" %>
      <div class="caption-full col-md-7">
        <h3><%= @product.name %></h3>
        <p><%= @product.description %></p>
        <h4><%= number_to_currency(@product.price) %></h4><br>
        <%= render partial: "partials/add_to_cart" %>
      </div>
    </div>
  </div> <!-- /.row -->
  <%= render "partials/product_carousel" %>

</div> <!-- /.container -->
